[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
uvicorn = {extras = ["standard"], version = "*"}
python-jose = {extras = ["cryptography"], version = "*"}
pydantic = "*"
bcrypt = "==4.0.1"
passlib = {extras = ["bcrypt"], version = "*"}
fastapi = {extras = ["standard"], version = "*"}
sqlalchemy = "*"
psycopg2-binary = "*"
redis = "==5.0.1"

[dev-packages]
black = "*"
isort = "*"

[requires]
python_version = "3.10"
